@use 'variables';

//Desktop
.basic-button {
  @include variables.basic-button;

  &.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
  }

  &.black {
    background-color: black;
    color: white;
  }
}

.link {
  font-family: variables.$font_secondary;
  font-size: 2.6rem;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1rem;
  color: black;
  margin-top: 4.5rem;

  &:after {
    content:'';
    display: inline-block;
    background: url("../../assets/shapes/link-arrow.svg") no-repeat center;
    background-size: 4rem;
    width: 4rem;
    height: 1.5rem;
  }

  &.small {
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;

  }
}

//Mobile

@include variables.media(mobile) {

  .basic-button {
    font-size: 1.6rem;
    height: 4.9rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
  }

  .link {
    text-decoration: none;
    font-size: 2rem;
    line-height: 144%;
    margin-bottom: 7rem;
  }
}